venv 
__pycache__ 
*.pyc 
*.pyd 
*.pyo 
*.pyc 
*.pyd 
*.pyo 
*.bak 
*.swp 
*.tmp 
*.log 
*.pid 
*.pid.lock 
*.coverage 
*.coverage.* 
nosetests.xml 
coverage.xml 
*.cover 
htmlcov 
.cache 
.cache.* 
.pytest_cache 
.pytest_cache.*